{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}

<div id="container">
<h2>About</h2>

<p>Thie website is a presentation and visualization of the data compiled by recorded by journalists at <a href="https://knock-la.com">Knock LA</a> in service of their project <i><a href="https://lasd.knock-la.com">Life Under the Gun</a></i>, and journalist Cerise Castle's investigative series, <i><a href="https://knock-la.com/tradition-of-violence-lasd-gang-history/">A Tradition of Violence</a></i>, both covering gang activity in the Los Angeles Sheriff's Department.</p>

<p>All information comes from Knock LA; any errors are theirs and all research is due to their journalists.</p>
</div>

{% endblock %}

