{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block styles %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}
{% block scripts %}
        <script src="../static/js/leaflet.ajax.min.js"></script>
{% endblock %}

{% block content %}
        <script type="text/javascript" src="../static/js/Leaflet.heat/dist/leaflet-heat.js"></script>

<div id="container">
{% if record %}

    <h2>Deputy {{ record.officer }}</h2>

    <p>Note that information may be incomplete.</p>
    <div id="map" style="width: 30vw; float: right;  height: 0;"></div>
    <ul>
    <li><b>Gang affiliations:</b> <ul> {% for gang in record.gangs %} <li>{{ gang.name }}</li> {% endfor %} </ul></li>
    <li><b>Cases implicated:</b> <ul> {% for case in record.cases %} <li>{{ case.title }}</li> {% endfor %} </ul></li>
    <li><b>Badge number: </b>{{ record.badge }}</li>
    <li><b>Biographical information: </b>{{ record.bio }}</li>
    </ul>
<script type="module">
import { shootingPull } from '../static/js/data.js';

const shootings = await shootingPull(null, null, null, "{{ record.officer }}");
console.log(shootings);
if (shootings.length > 0) {
    document.getElementById("map").style.height = "40vh";
    var map = L.map('map',{
                maxZoom: 15,
                minZoom: 8,
                zoomControl: false}).setView([34.05, -118.31], 8.5);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 15,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
    for (let sh of shootings) {
        if (sh.lat && sh.lng) {
            let marker = L.marker([sh.lat, sh.lng]);
            marker.bindPopup("<a href='shooting/" + sh.victim + "'>Shooting of " + sh.victim + "</a>").openTooltip();
            marker.addTo(map);
        }
    }
}
</script>

{% else %}
There is no deputy record by this name in Knock LA's compiled list of gang members. (Note that not every perpetrator of a shooting in these records is in the list of known gang members.)
{% endif %}

</div>

{% endblock %}
